@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-ec: #ececee;
  --color-secondary: #858a90;
  --color-box: #0d0f11;
}
